.container__nav__footer {
  width: 100%;
  padding:50px 90px  ;
  /* background-size: 100% 100%;
  background-image: radial-gradient(  closest-side at center, #cd53a0a2 0%, #05040c00 99%); */
  position: relative;
  z-index: 100;
  background-color: transparent;
}
.container__nav__footer::before{
    content: "";
    position: absolute;
    width: 800px;
    height: 600px;
    right: -10%;
    bottom: -55%;
    background: radial-gradient(closest-side, #cd53a02b,#17161600 );
    border-radius: 50%;
    z-index: -100;
}
.container__nav__footer > section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container__nav__footer > section > .nav { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.logo__footer {
  width: 100%;
  max-width: 120px;
  filter: invert(50%) grayscale(1) contrast(1000%) brightness(1000%);
}
.copyright__footer {
  width: 100%;
  text-align: center;
  padding: 100px 5px;
  font-size: 1rem;
  font-weight: 100;
  color: #bbb;
}

/* Mobile 320px - 480px */
/* tablet 481px - 768px */
/* laptop 769 - 1024px */
/* desktop 1025px - 1200px */
@media (width < 768px){
    .container__nav__footer > section > .nav { 
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
        gap: 5px;
    }
}
@media (width < 1024px){
    .container__nav__footer > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: space-around;
      }
      .logo__footer{
        max-width: 70px; 
      }
}