.header {
  width: 100%;
  height: 70px;
  background-color: rgba(92, 171, 190, 5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  backdrop-filter: blur(80px);
}
.header::before{
  content: "";
  position: absolute;
  top: calc(0% - 24rem);
  left: calc(50% - 20rem);
  width: 45rem;
  height: 40rem;
  background:radial-gradient(ellipse closest-side, #6366F144, #393B8B00);
  z-index: -100;
}

.nav {
  display: flex;
  gap: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav__link--active {
  text-decoration: underline;
  color: #ECE824; /* Color del enlace activo */
}

.header__section{
  width: 95px;
  height: 100%;
}
.header__section__logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 119/243;
}


/* Mobile 320px - 480px */
/* tablet 481px - 768px */
/* laptop 769 - 1024px */
/* desktop 1025px - 1200px */

@media (width < 768px){
  
}
