.header {
  width: 100%;
  height: 70px;
  background-color: rgba(92, 171, 190, 5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  backdrop-filter: blur(80px);
}
.header::before {
  content: "";
  width: 100%;
  position: absolute;
  top: calc(0% - 24rem);
  left: calc(50% - 20rem);
  max-width: 45rem;
  height: 40rem;
  background: radial-gradient(ellipse closest-side, #6365f151, #393b8b00);
  z-index: -100;
}

.nav {
  display: flex;
  gap: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav__link--active {
  text-decoration: underline;
  color: #ece824; /* Color del enlace activo */
}

.header__section {
  width: 95px;
  height: 100%;
}
.header__section__logo {
  width: 100%;
  height: 100%;
  min-width: 60px;
  object-fit: contain;
  aspect-ratio: 119/243;
}
.mobile-btn {
  display: none;
}

/* Mobile 320px - 480px */
/* tablet 481px - 768px */
/* laptop 769 - 1024px */
/* desktop 1025px - 1200px */

@media (width < 1024px) {
  .header {
    padding: 0 70px;
  }
  .nav {
    font-size: 0.8rem;
    gap: 20px;
  }
  .hide__section {
    display: none;
  }
}

@media (width < 768px) {
  .header {
    padding: 20px;
    overflow: visible;
  }
  .header__section__logo {
    width: 70px;
  }
  .nav {
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1.2rem;
  }
  .mobile-btn {
    margin: auto 0;
    display: block;
    color: #f1f1f1;
    height: 20px;
    width: 30px;
    border-top: 2px solid;
    position: relative;
    cursor: pointer;
  }

  .mobile-btn::after,
  .mobile-btn::before {
    content: "";
    display: block;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    position: relative;
    transition: transform 0.3s ease;
  }
  .mobile-btn-active {
    border-top: 0;
  }
  .mobile-btn-active::after {
    transform-origin: 90%;
    transform: rotate(45deg);
  }
  .mobile-btn-active::before {
    transform-origin: 40%;
    transform: translate(4px, 1px) rotate(-45deg);
  }
  .nav__active {
    display: flex;
    width: 100%;
    background-color: #05040cf3;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px;
  }
}
