.offer__grid__about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 100px 50px;
  gap: 60px;
}
.offer__grid__about__containe__child {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  place-items: center;
  gap: 20px;
  font-family: "Onest Variable", sans-serif;
  color: #fff;
}
.what__we__offer__about {
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: "Onest Variable", sans-serif;
}
/* Mobile 320px - 480px */
/* tablet 481px - 768px */
/* laptop 769 - 1024px */
/* desktop 1025px - 1200px */

@media (width < 1024px) {
    .offer__grid__about__container{
        padding: 70px 40px 40px;
    }
}
@media (width < 768px) {
    .offer__grid__about__container{
        padding: 40px 20px 0;

    }
}
@media (width < 480px) {
    .offer__grid__about__container{
        padding: 40px 20px 0;

    }
}
@media (width < 365px) {
  .offer__grid__about__container{
      padding: 40px 2px 0;

  }
}

@media (min-width: 1340px) {
  .offer__grid__about__containe__child {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Máximo 3 columnas en pantallas grandes */
  }
}
